mixin lk()
  .lk.lk_offset
    .container
      .row 
        .col-xl-3.col-lg-4
          aside.lk__info
            block lk-info
        .col-xl-9.col-lg-8
          main.lk__main
            block lk-main