.pay-list {
  @extend %disable-list;
  white-space: nowrap;
  overflow: auto;
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  &__item {
    
  }
  &__cell {
    padding: 1.5rem 2.4rem;
    border-bottom: 1px solid #E9E9E9;
    vertical-align: top;

    &_auto {
      width: 1%;
    }
  }

  &__checkbox {
    margin-right: 2.5rem;
    @include media (md) {
      margin-right: 1.5rem;
    }
  }

  &__info {
    display: flex;
    margin-right: auto;
    flex-grow: 2;
  }

  &__name {
    font-size: 1.8rem;
    line-height: 1.05;
    margin-bottom: 0.7rem;

    @include media (md) {
      font-size: 1.6rem;
    }
  }

  &__desc {
    color: #636363;
    font-size: 1.2rem;
  }

  &__price {
    font-size: 1.9rem;
    font-weight: 500;
    color:#333;
    text-align: right;
    line-height: 2.8rem;

    .icm {
      font-size: .8em;
    }

    @include media (md) {
      font-size: 1.6rem;
    }
  }

  &__price-muted {
    color: #999999;
  }
}