extends templates/_default

block head 
    title Home

block header 
    +header

block main
    +blog-content
    +blog({
        header: 'Читайте  также',
        more: false,
        className: 'blog_offset-small',
        items: [
            
            {
                class: 'blog-item_white',
                image: '',
                section: {
                    class: 'label_red',
                    name: 'Банки'
                },
                header: {
                    title: 'Налог на самозанятых граждан: выход из тени'
                },
                description: 'Налог на самозанятых граждан — это новый налоговый спецрежим в России. Закон о нем был подписан президентом и опубликован...'
            },
            {
                class: 'blog-item_muted',
                image: '',
                section: {
                    class: 'label_blue',
                    name: 'Аналитика'
                },
                header: {
                    title: 'Новые законы 2019: главные изменения законодательства'
                },
                description: 'Каждый год Госдума и Правительство РФ неустанно трудятся над созданием новых законов и этот год не стал исключением.'
            },
            {
                class: 'blog-item_yellow',
                image: '',
                section: {
                    class: 'label_green',
                    name: 'Новости Bills'
                },
                header: {
                    title: 'Как работать дома и не сойти с ума: полезные советы'
                },
                description: 'Если вы работали в офисе по найму, а сейчас ушли в свободное плавание и работаете дома, но испытываете трудности с работоспособностью...'
            },
            {
                class: 'blog-item_green',
                image: 'img/blog-item-green2.jpg',
                section: {
                    class: 'label_green-medium',
                    name: 'Финансы для начинающих'
                },
                header: {
                    title: 'Свой бухгалтер или фирма, оказывающая бухгалтерские услуги: что выбрать'
                },
                description: 'Что лучше свой бухгалтер или аутсорсинг — фирма, оказывающая бухгалтерские услуги? Это вопрос выбора, который всегда...'
            }
        ]
    })
    
block footer
    +footer