extends templates/_lk

block head 
    title Home

block header 
    +header({
        auth: true,
        border: true
    })

block main
    +breadcrumbs({
        container: true,
        items: [
            {
                name: 'Личный кабинет',
                link: '/'
            },
            {
                name: 'Кабинет',
                link: '/lk.html'
            }
        ]
    })
    +lk
        block lk-info
            +lk-info
        block lk-main   
            +lk-main
block footer
    +footer