extends templates/_default

block head
	title Home

block main
	.container
		.row
			.col-12.ta-center.py-5
				h1.header.header_big Styles
		.row
			.col-12.mb-3
				h2.header Логотипы
		.row.mb-5
			.col-md-3.col-sm-6.ta-center
				.p-4: img(src="img/logo1.svg", alt="" width="130").img-responsive
			.col-md-3.col-sm-6.ta-center
				.p-4: img(src="img/logo2.svg", alt="" width="130").img-responsive
			.col-md-3.col-sm-6.ta-center
				.p-4: img(src="img/logo3.svg", alt="" width="130").img-responsive
			.col-md-3.col-sm-6.ta-center
				.p-4.bg-black: img(src="img/logo4.svg", alt="" width="130").img-responsive
		.row 
			.col-12.mb-3
				h2.header Font face
		.row.mb-5
			.col-auto
				p.fz-9.fw-bold.mb-2 Rubik Bold/54px
				p.fz-8.fw-bold.mb-2 Rubik Bold/40px
				p.fz-7.fw-bold.mb-2 Rubik Bold/32px
				p.fz-6.fw-bold.mb-2 Rubik Bold/26px
				p.fz-5.fw-bold.mb-2 Rubik Bold/24px
				p.fz-4.fw-bold.mb-2 Rubik Bold/20px
				p.fz-3.fw-bold.mb-2 Rubik Bold/18px
				p.fz-2.fw-bold.mb-2 Rubik Bold/16px
				p.fz-1.fw-bold.mb-2 Rubik Bold/14px
				p.fz-0.fw-bold.mb-2 Rubik Bold/12px
			.col-auto
				p.fz-5.mb-2 Rubik Regular/26px
				p.fz-4.mb-2 Rubik Regular/24px
				p.fz-3.mb-2 Rubik Regular/18px
				p.fz-2.mb-2 Rubik Regular/16px
				p.fz-1.mb-2 Rubik Regular/14px
				p.fz-0.mb-2 Rubik Regular/12px

			.col-auto
				p.fs-italic.fz-3.mb-2 Rubik Regular/18px
				p.fs-italic.fz-2.mb-2 Rubik Regular/16px
				p.fs-italic.fz-1.mb-2 Rubik Regular/14px
		.row 
			.col-12.mb-3
				h2.header Content
		.row
			.col-12.mb-5
				.content
					h1 Header
					ul
						li Lorem ipsum dolor sit.
						li Commodi ratione cumque dignissimos!
						li Deleniti nostrum, cum itaque.
						li Rerum et unde repudiandae.
					p Love knows no boundaries, and this is especially true today when online dating and long–distance relationships connect people who are miles away from one another.
					h2 Header
					p A lot of <a href="#">beautiful single wom en</a> look for love on dating sites, so you are welcome to do the same. The fact that you’re reading this means you made up your mind to say goodbye to your bachelorhood and settle down with a family–oriented woman. And you’ve come to the right place.
					ol
						li Lorem ipsum dolor sit.
						li Commodi ratione cumque dignissimos!
						li Deleniti nostrum, cum itaque.
						li Rerum et unde repudiandae.
					p A lot of <a href="#">beautiful single wom en</a> look for love on dating sites, so you are welcome to do the same. The fact that you’re reading this means you made up your mind to say goodbye to your bachelorhood and settle down with a family–oriented woman. And you’ve come to the right place.
		.row 
			.col-12.mb-3
				h2.header Icons
		.row
			.col-12.fz-5.mb-5
				span.s48.s-inline-block.p-1: img(src="img/icon1.svg", alt="")
				span.s48.s-inline-block.p-1: img(src="img/icon2.svg", alt="")
				span.s48.s-inline-block.p-1: img(src="img/icon3.svg", alt="")
				span.s48.s-inline-block.p-1: img(src="img/icon4.svg", alt="")
				span.s48.s-inline-block.p-1: img(src="img/icon5.svg", alt="")
				span.s48.s-inline-block.p-1: img(src="img/icon6.svg", alt="")
				hr
				span.d-inline-block.p-1: i.icm.icm-pdf-file-format-symbol
				span.d-inline-block.p-1: i.icm.icm-ruble
				span.d-inline-block.p-1: i.icm.icm-search
				span.d-inline-block.p-1: i.icm.icm-settings
				span.d-inline-block.p-1: i.icm.icm-special
				span.d-inline-block.p-1: i.icm.icm-tarif
				span.d-inline-block.p-1: i.icm.icm-three-dots-more-indicator
				span.d-inline-block.p-1: i.icm.icm-tick-sign
				span.d-inline-block.p-1: i.icm.icm-twitter
				span.d-inline-block.p-1: i.icm.icm-user
				span.d-inline-block.p-1: i.icm.icm-archive
				span.d-inline-block.p-1: i.icm.icm-back-arrow
				span.d-inline-block.p-1: i.icm.icm-bill
				span.d-inline-block.p-1: i.icm.icm-check-mark
				span.d-inline-block.p-1: i.icm.icm-close-button-2
				span.d-inline-block.p-1: i.icm.icm-create
				span.d-inline-block.p-1: i.icm.icm-download
				span.d-inline-block.p-1: i.icm.icm-facebook-logo-2
				span.d-inline-block.p-1: i.icm.icm-filter-results-button
				span.d-inline-block.p-1: i.icm.icm-gear
				span.d-inline-block.p-1: i.icm.icm-google
				span.d-inline-block.p-1: i.icm.icm-invoice-1
				span.d-inline-block.p-1: i.icm.icm-left-arrow-4
				span.d-inline-block.p-1: i.icm.icm-left-arrow_left
				span.d-inline-block.p-1: i.icm.icm-list
				span.d-inline-block.p-1: i.icm.icm-logout
				span.d-inline-block.p-1: i.icm.icm-contacts
				span.d-inline-block.p-1: i.icm.icm-copy
				span.d-inline-block.p-1: i.icm.icm-drop_icon
				span.d-inline-block.p-1: i.icm.icm-question-mark
				span.d-inline-block.p-1: i.icm.icm-ruble1
				span.d-inline-block.p-1: i.icm.icm-calendar
				span.d-inline-block.p-1: i.icm.icm-chevron
				span.d-inline-block.p-1: i.icm.icm-chevron_invert
		.row 
			.col-12.mb-3
				h2.header Buttons
		.row
			.col-12.col-md-6.mb-5
				a(href="#").btn.btn_auto
					span Вход
				hr
				a(href="#").btn.btn_dark
					span Вход		
				hr
				a(href="#").btn.btn_green.btn_big
					span Создать счет	
				hr
				a(href="#").btn.btn_green-dark.btn_small
					span Финансы
				hr
				a(href="#").btn.btn_white
					span.btn__icon: i.icm.icm-google
					span Вход с Google
			.col-12.col-md-6.mb-5
				a(href="#").btn.btn_auto
					span.btn__icon: i.icm.icm-facebook-logo-2
					span Вход
				hr
				a(href="#").btn.btn_blue
					span.btn__icon: i.icm.icm-facebook-logo-2
					span Вход с Facebook
				hr
				a(href="#").btn.btn_muted
					span Еще
				hr
				a(href="#").btn.btn_orange.btn_x-small
					span Премиум
				hr
				a(href="#").btn.btn_white
					span Премиум
				hr
				a(href="#").btn.btn_bd-green.btn_base
					span.btn__icon: i.icm.icm-filter-results-button.fz-4
					span Фильтр
					span.btn_notify 3
		.row.mb-5
			.col-12.mb-3
				.header Формы
			.col-12.mb-5
				+form('register')
		.row.mb-5
			.col-12.mb-5
				+form('login')
		.row.mb-5
			.col-12.mb-5
				+form('restore')