mixin lk-pagination()
  .lk-pagination
    ul.lk-pagination__list
      li.lk-pagination__item.lk-pagination__item_prev
        a(href="#").lk-pagination__arrow.lk-pagination__arrow_disabled: i.icm.icm-left-arrow1
      li.lk-pagination__item
        a(href="#").lk-pagination__link.lk-pagination__link_active 1
      li.lk-pagination__item
        a(href="#").lk-pagination__link 2
      li.lk-pagination__item
        a(href="#").lk-pagination__link 3
      li.lk-pagination__item
        a(href="#").lk-pagination__link 4
      li.lk-pagination__item
        a(href="#").lk-pagination__link 5
      li.lk-pagination__item.lk-pagination__item_next
        a(href="#").lk-pagination__arrow: i.icm.icm-right-arrow