mixin banner
  .banner.banner_offset
    .container
      .banner__body
        .banner__image
          img(src="img/banner-image.jpg", alt="").banner__image-image
        .banner__text
          .banner__text-inner
            .banner__category
              .label.label_dark Новости
            .banner__title ФНС запустила налоговый сайт для самозанятых граждан
            .banner__description Налог на профессиональный доход (НПД) более известный, как налог на самозанятых граждан стартовал 1 января 2019 года. Федеральная налоговая служба России...
            a(href="#").banner__link 
              span.banner__link-title Читать 
              i.icm.icm-left-arrow.banner__link-icon