mixin categories
	.categories
		.container
			.categories__body
				ul.categories__list
					li.categories__item
						a(href="#").categories__link Оптимизация финансов
					li.categories__item
						a(href="#").categories__link Финансы для начинающих
					li.categories__item
						a(href="#").categories__link Интервью
					li.categories__item
						a(href="#").categories__link Финансовые советы
					li.categories__item
						a(href="#").categories__link Аналитика
					li.categories__item
						a(href="#").categories__link Банки
					li.categories__item
						a(href="#").categories__link Новости