mixin blog-content
	.blog-content
		.blog-content__top
			.container
				.blog-content__breadcrumbs
					+breadcrumbs({
						container: false,
						items: [
									{
											name: 'Главная',
											link: '/'
									},
									{
											name: 'Блог',
											link: '/blog-list.html'
									},
									{
											name: 'Идеальное решение для фрилансера',
											link: '/blog-list.html'
									}
							]
					})
				.blog-content__top-body
					.blog-content__top-text
						h1.blog-content__name Идеальное решение для фрилансера 
						.blog-content__category.label.label_green-dark Интервью
						p.blog-content__description Что лучше свой <b><i>бухгалтер</i></b> или <b><i>аутсорсинг — фирма</i></b>, оказывающая бухгалтерские услуги? Это вопрос выбора, который всегда встает перед предпринимателем или директором. Даже если глава бизнеса профессиональный бухгалтер, перед ним стоят более важные задачи, чем ведение бухгалтерского и налогового учета компании. Он должен делегировать эту работу, а сам заниматься увеличением прибыли.
					.blog-content__top-image
						img(src="img/blog-detail.jpg", alt="")
		.container
			.blog-content__body.content
				p Если вам не нравится специалист, который непосредственно оказывает вам услуги, то вы можете попросить аутсорсинговую фирму, поменять его на другого. Если вам не нравится аутсорсинговая фирма, вы можете расторгнуть договор с ней и найти другую.
				p Если же вам не нравится сотрудник, которого вы приняли на работу в свой штат, то уволить его будет крайне сложно. <a href="#">Трудовое законодательство</a href="#"> в России здесь полностью  на стороне работника. Если уволенный, даже за серьезные нарушения трудовой дисциплины, идет судиться, то суд чаще всего выбирает сторону работника. Поэтому так важно выбрать при подборе соискателя <b><i>«своего человека»</i></b>. С бухгалтером, а тем более с главным бухгалтером, никто не хочет расставаться врагами.
				p.note.note_green-dark Документы, которые хранятся в фирме-аутсорсере хранятся более бережно, ведь она несет ответственность за их потерю или порчу. Передавать документы надо обязательно по реестру, чтобы определить виноватых, в случае потери документа.
				h2 Коллективный разум
				p Когда в компании возникает нестандартная ситуация, чаще всего главный бухгалтер в одиночку находит решение и не всегда верное <b><i>(как отразить в учете, налоговые последствия и т.д.).</i></b> В аутсорсинговой компании бухгалтер в таких случаев привлекает других бухгалтеров, аудиторов, налоговых консультантов и выбирает оптимальное решение опираясь на экспертное мнение. Он не остается один на один со своей проблемой.
				h2 Оптимизация
				p Бухгалтера многих аутсорсинговых фирм боятся как огня, любых схем: они видят риски в любой безобидной налоговой оптимизации. И чаще всего ведут учет, не так чтобы было выгоднее клиенту, а так чтобы учет был наиболее проще и безопасней.
				p Выходом здесь будет письменное снятие ответственности с фирмы, оказывающей бухгалтерские услуги.  Так можно настоять на своем варианте, уже самостоятельно неся риски. Подходит тем клиентам, которые разбираются в действующем налогообложении, либо пользуются услугами независимого консультанта (вне обслуживающей фирмы).
				p Итак, что выбрать: своего бухгалтера или аутсорсинг? В любом случае надо искать профессионала своего дела, а это в обоих случаях непросто. Но при равноценном уровне профессионализма, выигрывает фирма, оказывающая бух услуги.
				.blog-content__footer
					.blog-content__share
						ul.share
							li.share__item
								a(href="#").share__link.share__link_fb
									i.share__link-icon.icm.icm-facebook-logo-2
									span.share__link-title Поделиться
							li.share__item
								a(href="#").share__link.share__link_tweet
									span.share__link-icon.icm.icm-twitter
									span.share__link-title Поделиться
					.blog-content__author Автор: Иван Иванов

