mixin first-screen()
	.first-screen.first-screen_offset
		.first-screen__left
			.first-screen__image
		.first-screen__right
		.first-screen__container
			.container
				.row
					.col-6.d-none.d-md-block
					.col-12.col-md-6
						.first-screen__text
							.first-screen__header Выставление счетов
							.first-screen__description Отправляйте счета и получайте оплаты от контрагентов без специальной бухгалтерской программы
							.first-screen__button
								a(href="#formRegister").js-fancybox.btn.btn_green.btn_big Создать счет

