.blog-item {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 3rem 3rem 4rem;
  border-radius: 4px;
  background-size: cover;
  margin-bottom: 3.6rem;
  min-height: 48rem;

  @include media (xl) {
    min-height: 0;

    &_hide-image {
      background-image: none !important;
    }
  }

  @include media (sm){
    padding: 2rem;
  }

  &_pink {
    background-color: $pink;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &_muted {
    background-color: $muted-50;
  }

  &_green {
    background-color: $green-dark;
  }

  &_white {
    border: 1px solid $muted-400
  }

  &_yellow {
    background-color: $yellow;
  }

  &__inner {
    flex: 0 0 auto;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media (lg) {
      max-width: 100%;
    }
  }

  &__name {
    font-size: 2.5rem;
    line-height: 1.16;
    margin-bottom: 1.5rem;

    
    @include media (sm){
      font-size: 2.1rem;
    }

    .blog-item_green & {
      color: $white;
    }

    &_big {
      font-size: 3.4rem;
      line-height: 1.05;

      @include media (sm){
        font-size: 2.8rem;
      }
    }
  }

  &__description {
    margin-bottom: 1.6rem;
    line-height: 1.45;

    @include media (sm){
      font-size: 1.4rem;
    }

    .blog-item_green & {
      color: $white;
    }
  }
  
  &__link {
    font-weight: $font-weight-medium;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.2rem;
    margin-bottom: 3rem;
    display: inline-block;
    vertical-align: top;

    @include media (sm){
      font-size: 1.4rem;
    }

    .blog-item_green &{
      color: $white;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__link-title {
    margin-right: 1.3rem;
  }

  &__link-icon {
    font-size: 1.1rem;
  }
}