mixin how-works()
	.anchor.js-anchor#how-works
	section.how-works.how-works_offset
		.container
			h2.header.how-works__header Как это работает ?
			.row.align-items-start.align-items-lg-center
				.col-12.col-md-4.mb-4.mb-md-0
					.how-works__item
						.how-works__icon
							.gradient-wrapper: img(src="img/icon1.svg", alt="").how-works__icon-image
						.how-works__text Заполните информацию о продавце и покупателе, реквизиты подтянутся автоматически
				.col-12.col-md-4.mb-4.mb-md-0
					.how-works__item
						.how-works__icon
							.gradient-wrapper: img(src="img/icon2.svg", alt="").how-works__icon-image
						.how-works__text Составьте список товаров и предоставляемых услуг
				.col-12.col-md-4.mb-4.mb-md-0
					.how-works__item
						.how-works__icon
							.gradient-wrapper: img(src="img/icon3.svg", alt="").how-works__icon-image
						.how-works__text Отправьте готовый счет на электронную почту или скачайте короткую ссылку со счетом