.how-works {
	&_offset {
		margin-bottom: 15.7rem;

		@include media (xl) {
			margin-bottom: 10rem;
		}

		@include media (md) {
			margin-bottom: 2rem;
		}
	}

	&__header {
		margin-bottom: 4.7rem;
	}

	&__item {
		display: flex;
		align-items: center;

		@include media (lg) {
			align-items: flex-start;
		}

		@include media (md) {
			align-items: center;
		}
	}

	&__icon {
		margin-right: 1.6rem;
	}

	&__text {
		color: #606060;
		line-height: 1.4;

		@include media(xl) {
			font-size: $fz-1;
		}
	}
}